﻿<MatDialog @bind-IsOpen="@ShowDialog">
    <MatDialogTitle>
        <div style="display: inline-block; float: left; padding-top:10px;">
            @if (Event.Id < 0)
            {
                <p>Dodawanie</p>
            }
            else
            {
            <p>
                Edycja                
            </p>                
            }
        </div>
        <div style="display: inline-block; float: right; padding-top:10px;">
            <MatCheckbox Disabled="@IsSaving" Label="Zakończone" @bind-Value="@Event.Status"></MatCheckbox>
        </div>
    </MatDialogTitle>
    <MatDialogContent>
        <EditForm Model="@Event" OnValidSubmit="@HandleValidSubmit">
            <AuthorizeView Context="Auth" Roles="ROLE_CALENDAR_ADMIN, ROLE_USER">
                <MatTabGroup>
                    <MatTab Label="Opis">
                        <div class="mat-layout-grid">
                            <div class="mat-layout-grid-inner">
                                <div class="mat-layout-grid-cell mat-layout-grid-cell-span-8">
                                    <MatSelect @bind-Value="@SelectedPriority" Label="Priorytet" Disabled="@IsSaving">
                                        <MatOption TValue="int" Value="1">Normalny</MatOption>
                                        <MatOption TValue="int" Value="2">Ważne</MatOption>
                                    </MatSelect>
                                </div>
                            </div>
                            <div class="mat-layout-grid-inner">
                                <div class="mat-layout-grid-cell">
                                    <div class="verticalMiddleContainer">
                                        <p class="verticalMiddleItem">Tytuł</p>
                                    </div>
                                </div>
                                <div class="mat-layout-grid-cell mat-layout-grid-cell-span-8">
                                    <MatInputTextComponent FullWidth="true" @bind-Value="@Event.Title" Disabled="@IsSaving" Required="true"></MatInputTextComponent>
                                </div>
                            </div>
                            <div class="mat-layout-grid-inner">
                                <div class="mat-layout-grid-cell">
                                    <div class="verticalMiddleContainer">
                                        <p class="verticalMiddleItem">Data</p>
                                    </div>
                                </div>
                                <div class="mat-layout-grid-cell mat-layout-grid-cell-span-8">
                                    <MatDatePickerInternal Locale="UTC" FullWidth="true" EnableTime="true" Enable24hours="true" @bind-Value="@Date" Disabled="@IsSaving" Required="true"></MatDatePickerInternal>
                                </div>
                            </div>
                            <div class="mat-layout-grid-inner">
                                <div class="mat-layout-grid-cell">
                                    <div class="verticalMiddleContainer">
                                        <p class="verticalMiddleItem">Opis</p>
                                    </div>

                                </div>
                                <div class="mat-layout-grid-cell mat-layout-grid-cell-span-8">
                                    <MatInputTextComponent FullWidth="true" Class="height: 180px;" @bind-Value="@Event.Description" TextArea="true" Disabled="@IsSaving" Required="true"></MatInputTextComponent>
                                </div>
                            </div>
                        </div>
                    </MatTab>
                    <MatTab Label="Przydział">
                        @if (HasFetchedUsers)
                        {
                            <div class="mat-layout-grid">
                                <div class="mat-layout-grid-inner">
                                    <div class="mat-layout-grid-cell mat-layout-grid-cell-span-6">
                                        <MatSelect Class="hideLabel" @bind-Value="@SelectedUser" Label="Przydziel użytkownika" Disabled="@IsSaving">
                                            @foreach (var user in RemainingUsers)
                                            {
                                                <MatOptionString Value="@user.Login">@user.Login</MatOptionString>
                                            }
                                        </MatSelect>
                                    </div>
                                    <div class="mat-layout-grid-cell mat-layout-grid-cell-span-6">
                                        <MatList>
                                            @foreach (var user in @Event.Users)
                                            {
                                                <MatListItem>
                                                    @if (AllUsers.FirstOrDefault(u => u.Login == user)?.Id != Event.OwnerId)
                                                    {
                                                        <MatIconButton Disabled="@IsSaving" Style="display: inline-block;" Icon="delete" OnClick="() => DeleteUser(user)"></MatIconButton>
                                                    }
                                                    else
                                                    {
                                                        <MatIconButton Style="display: inline-block;" Icon="grade"></MatIconButton>
                                                    }
                                                    <p style="display: inline-block;">@user</p>
                                                </MatListItem>
                                            }
                                        </MatList>
                                    </div>
                                </div>
                            </div>
                        }
                        else
                        {
                    <div style="height: 100px; margin:10px;">
                        <MatProgressCircle Class="centerWrapper" Indeterminate="true" Size="MatProgressCircleSize.Medium" />
                    </div>
                            
                        }
                    </MatTab>
                </MatTabGroup>
            </AuthorizeView>
            <MatDialogActions>
                @if (IsSaving)
                {
                    <MatProgressCircle Indeterminate="true" Size="MatProgressCircleSize.Medium" />
                }
                @if (Event.Id > -1)
                {
                    <AuthorizeView Context="Auth" Roles="ROLE_CALENDAR_ADMIN, ROLE_USER">
                        <MatButton Icon="delete" Type="button" OnClick="@Delete" Disabled="@IsSaving" Style="color: red; position: absolute; left: 0;">Usuń</MatButton>
                    </AuthorizeView>
                }

                <MatButton Type="button" OnClick="@(_ => Close())" Disabled="@IsSaving">Anuluj</MatButton>
                <MatButton Type="submit" Disabled="@IsSaving">OK</MatButton>
            </MatDialogActions>
            @if (ShowError)
            {
                <p style="margin-top:1rem; color:red;">@ErrorMessage</p>
            }
        </EditForm>
    </MatDialogContent>
</MatDialog>



