﻿<MatDialog Class="myDialog" @bind-IsOpen="@ShowDialog">
    <MatDialogTitle>
        <div style="display: inline-block; float: left; padding-top:10px;">           
            <p>Zmiana hasła</p>                       
        </div>        
    </MatDialogTitle>
    <MatDialogContent>
        @if (User.Id > -1)
        {
            <EditForm Model="@User" OnValidSubmit="@HandleValidSubmit">
                <AuthorizeView Context="Auth">
                    <div class="mat-layout-grid">
                        @if (RequestConfirmation)
                        {
                            <div class="mat-layout-grid-inner">
                                <div class="mat-layout-grid-cell">
                                    <div class="verticalMiddleContainer">
                                        <p class="verticalMiddleItem">Stare hasło</p>
                                    </div>
                                </div>
                                <div class="mat-layout-grid-cell mat-layout-grid-cell-span-8">
                                    <MatInputTextComponent Type="password" FullWidth="true" @bind-Value="@OldPassword" Disabled="@IsSaving" Required="true"></MatInputTextComponent>
                                </div>
                            </div>
                        }
                        <div class="mat-layout-grid-inner">
                            <div class="mat-layout-grid-cell">
                                <div class="verticalMiddleContainer">
                                    <p class="verticalMiddleItem">Nowe Hasło</p>
                                </div>
                            </div>
                            <div class="mat-layout-grid-cell mat-layout-grid-cell-span-8">
                                <MatInputTextComponent FullWidth="true" Type="password" @bind-Value="@NewPassword" Disabled="@IsSaving" Required="true"></MatInputTextComponent>
                            </div>
                        </div>
                        <div class="mat-layout-grid-inner">
                            <div class="mat-layout-grid-cell">
                                <div class="verticalMiddleContainer">
                                    <p class="verticalMiddleItem">Potwierdź hasło</p>
                                </div>
                            </div>
                            <div class="mat-layout-grid-cell mat-layout-grid-cell-span-8">
                                <MatInputTextComponent Type="password" FullWidth="true" @bind-Value="@User.Password" Disabled="@IsSaving" Required="true"></MatInputTextComponent>
                            </div>
                        </div>
                    </div>
                </AuthorizeView>
                <MatDialogActions>
                    @if (IsSaving)
                    {
                        <MatProgressCircle Indeterminate="true" Size="MatProgressCircleSize.Medium" />
                    }
                    @if (ShowError)
                    {
                        <p style="margin-top:1rem; color:red;">@ErrorMessage</p>
                    }
                    <MatButton Type="button" OnClick="@(_ => Close())" Disabled="@IsSaving">Anuluj</MatButton>
                    <MatButton Type="submit" Disabled="@IsSaving">OK</MatButton>
                </MatDialogActions>
            </EditForm>
        }
        else
        {
            <MatProgressCircle Indeterminate="true" Size="MatProgressCircleSize.Medium" />
        }

    </MatDialogContent>
</MatDialog>



