﻿<MatDialog Class="myDialog" @bind-IsOpen="@ShowDialog">
    <MatDialogTitle>
        <div style="display: inline-block; float: left; padding-top:10px;">
            @if (User.Id < 0)
            {
                <p>Dodawanie</p>
            }
            else
            {
                <p>Edycja</p>
            }
        </div>
        <div style="display: inline-block; float: right; padding-top:10px;">
            <MatCheckbox Disabled="@IsSaving" Label="Włączony" @bind-Value="@User.IsEnabled"></MatCheckbox>
        </div>
    </MatDialogTitle>
    <MatDialogContent>
        <EditForm Model="@User" OnValidSubmit="@HandleValidSubmit">
            <AuthorizeView Context="Auth" Roles="ROLE_CALENDAR_ADMIN, ROLE_USER">
                <div class="mat-layout-grid">
                    @if (User.Id < 0)
                    {
                        <div class="mat-layout-grid-inner">
                            <div class="mat-layout-grid-cell">
                                <div class="verticalMiddleContainer">
                                    <p class="verticalMiddleItem">Login</p>
                                </div>
                            </div>
                            <div class="mat-layout-grid-cell mat-layout-grid-cell-span-8">
                                <MatInputTextComponent FullWidth="true" @bind-Value="@User.Login" Disabled="@IsSaving" Required="true"></MatInputTextComponent>
                            </div>
                        </div>
                        <div class="mat-layout-grid-inner">
                            <div class="mat-layout-grid-cell">
                                <div class="verticalMiddleContainer">
                                    <p class="verticalMiddleItem">Hasło</p>
                                </div>
                            </div>
                            <div class="mat-layout-grid-cell mat-layout-grid-cell-span-6">
                                <MatInputTextComponent FullWidth="true" Type="password" @bind-Value="@User.Password" Disabled="@IsSaving" Required="true"></MatInputTextComponent>
                            </div>
                        </div>
                        <div class="mat-layout-grid-inner">
                            <div class="mat-layout-grid-cell">
                                <div class="verticalMiddleContainer">
                                    <p class="verticalMiddleItem">Email</p>
                                </div>
                            </div>
                            <div class="mat-layout-grid-cell mat-layout-grid-cell-span-8">
                                <MatInputTextComponent FullWidth="true" @bind-Value="@User.Email" Disabled="@IsSaving" Required="true"></MatInputTextComponent>
                            </div>
                        </div>
                    }
                    <div class="mat-layout-grid-inner">
                        <div class="mat-layout-grid-cell mat-layout-grid-cell-span-12">
                            @if (User.Id < 0)
                            {
                                <MatSelect @bind-Value="SelectedRole" Label="Uprawnienia" Disabled="@IsSaving">
                                    <MatOptionString Value="ROLE_MEMBER">Użytkownik</MatOptionString>
                                    <MatOptionString Value="ROLE_USER">Użytkownik zaawansowany</MatOptionString>
                                    <MatOptionString Value="ROLE_CALENDAR_ADMIN">Administrator</MatOptionString>
                                </MatSelect>
                            }
                            else
                            {
                                @switch (SelectedRole)
                                {
                                    case "ROLE_MEMBER":
                                        <p>Rola: Użytkownik</p>
                                        break;
                                    case "ROLE_USER":
                                        <p>Rola: Użytkownik zaawansowany</p>
                                        break;
                                    case "ROLE_CALENDAR_ADMIN":
                                        <p>Rola: Administrator</p>
                                        break;
                                }
                            }
                        </div>
                    </div>
                </div>
            </AuthorizeView>
            <MatDialogActions>
                @if (IsSaving)
                {
                    <MatProgressCircle Indeterminate="true" Size="MatProgressCircleSize.Medium" />
                }
                @if (ShowError)
                {
                    <p style="margin-top:1rem; color:red;">@ErrorMessage</p>
                }
                <MatButton Type="button" OnClick="@(_ => Close())" Disabled="@IsSaving">Anuluj</MatButton>
                <MatButton Type="submit" Disabled="@IsSaving">OK</MatButton>
            </MatDialogActions>
            
        </EditForm>
    </MatDialogContent>
</MatDialog>



