﻿@page "/Calendar"
@inject IJSRuntime JS
@implements IAsyncDisposable

<AuthorizeView>

    @if (IsFetching)
    {
        <div class="centerAbsolute">
            <MatProgressCircle Indeterminate="true" Size="MatProgressCircleSize.Large" />
        </div>
    }
    <div style="margin: 10px; height: 85vh;">
        <div @ref="calendarContainer" id="CalendarContainer"></div>
    </div>
    
    <AuthorizeView Context="Admin" Roles="ROLE_CALENDAR_ADMIN, ROLE_USER">
        <MatFAB Class="fixedRightBottom" Icon="@MatIconNames.Add" Label="Dodaj" OnClick="@(_ => AddEvent())"></MatFAB>
    </AuthorizeView>

    <Calendar.App.Components.EventWizard @ref="EventDialog"></Calendar.App.Components.EventWizard>
</AuthorizeView>

