﻿.container { 
    background: #fff;
    padding: 0;
    border-radius: 7px;
    height: 100%;
    max-width: 100%;
}

#chatBottom{
    height: 10%;
}

.messageOwner {
    margin-top: -10px;
    font-size: 11px;
    margin-left: 38px;
}

.dot {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    display: inline-block;
}

.profile-image {
    width: 50px;
    height: 50px;
    border-radius: 40px;
}

.settings-tray {
    background: #eee;
    padding: 10px 15px;
    border-radius: 7px;
}

    .settings-tray .no-gutters {
        padding: 0;
    }

.settings-tray--right {
    float: right;
}

    .settings-tray--right i {
        margin-top: 10px;
        font-size: 25px;
        color: grey;
        margin-left: 14px;
        transition: 0.3s;
    }

        .settings-tray--right i:hover {
            color: #74b9ff;
            cursor: pointer;
        }

.search-box {
    background: #fafafa;
    padding: 10px 13px;
}

    .search-box .input-wrapper {
        background: #fff;
        border-radius: 40px;
    }

        .search-box .input-wrapper i {
            color: grey;
            margin-left: 7px;
            vertical-align: middle;
        }

input {
    border: none;
    border-radius: 30px;
    width: 100%;
}

    ::placeholder {
        color: #e3e3e3;
        font-weight: 300;
        margin-left: 20px;
    }

    input:focus {
        outline: none;
    }

.friend-drawer {
    padding: 10px 15px;
    display: flex;
    vertical-align: baseline;
    background: #fff;
    transition: 0.3s ease;
}

.friend-drawer--grey {
    background: #eee;
}

.friend-drawer .text {
    margin-left: 12px;
    width: 70%;
}

    .friend-drawer .text h6 {
        margin-top: 1px;
        margin-left: 30px;
        margin-bottom: 0;
    }

    .friend-drawer .text p {
        margin: 0;
    }

.friend-drawer .time {
    color: grey;
}

.friend-drawer--onhover:hover {
    background: #74b9ff;
    cursor: pointer;
}

    .friend-drawer--onhover:hover p,
    .friend-drawer--onhover:hover h6,
    .friend-drawer--onhover:hover .time {
        color: #fff !important;
    }

hr {
    margin: 5px auto;
    width: 60%;
}

.chat-bubble {
    padding: 10px 14px;
    background: #eee;
    margin: 10px 30px;
    border-radius: 9px;
    position: relative;
    animation: fadeIn 1s ease-in;
}

    .chat-bubble:after {
        content: "";
        position: absolute;
        top: 50%;
        width: 0;
        height: 0;
        border: 20px solid transparent;
        border-bottom: 0;
        margin-top: -10px;
    }

.chat-bubble--left:after {
    left: 0;
    border-right-color: #eee;
    border-left: 0;
    margin-left: -20px;
}

.chat-bubble--right:after {
    right: 0;
    border-left-color: #74b9ff;
    border-right: 0;
    margin-right: -20px;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.offset-md-9 .chat-bubble {
    background: #74b9ff;
    color: #fff;
}

.chat-box-tray {
    background: #eee;
    display: flex;
    align-items: baseline;
    padding: 10px 15px;
    align-items: center;
    margin-top: 19px;
    bottom: 0;
}

    .chat-box-tray input {
        margin: 0 10px;
        padding: 6px 2px;
    }

    .chat-box-tray i {
        color: grey;
        font-size: 30px;
        vertical-align: middle;
    }

        .chat-box-tray i:last-of-type {
            margin-left: 25px;
        }

/*.containerBOX {
    width: 100%;
    margin: auto;
}

.chat {
    display: flex;
    flex-direction: column;
    height: 84vh;
    background: #f1f0e8;
}

.chat-box {
    background: #ebebe6;
    padding-left: 20px;
    overflow-y: scroll;
    flex: 1;
}

    .chat-box .img_chat {
        width: 280px;
    }

.chat-r {
    display: flex;
}

    .chat-r .sp {
        flex: 1;
    }

.chat-l {
    display: flex;
}

    .chat-l .sp {
        flex: 1;
    }

.chat-box .mess {
    max-width: 300px;
    background: #b3b3b3;
    padding: 10px;
    border-radius: 10px;
    margin: 10px 15px;
    cursor: pointer;
}

    .chat-box .mess p {
        word-break: break-all;
        font-size: 18px;
    }

.chat-box .mess-r {
    background: #d9d9d9;
}

*::-webkit-scrollbar {
    width: 5px;
}

*::-webkit-scrollbar-track {
    background: #f1f1f1;
}

*::-webkit-scrollbar-thumb {
    background: #aaa;
}

    *::-webkit-scrollbar-thumb:hover {
        background: #555;
    }

.chat-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 60px;
    position: relative;
    cursor: pointer;
}

    .chat-footer input {
        display: block;
        flex: 1;
        width: 100%;
        height: 50px;
        border-radius: 60px;
        margin: 5px;
        padding: 10px;
        outline: none;
        font-size: 19px;
        padding-left: 40px;
        padding-right: 90px;
        border: 2px solid #ccc;
        color: #555;
        resize: none;
    }

   

    .chat-footer .icons {
        position: absolute;
        right: 3em;        
    }

        .chat-footer .icons button {
            display: inline-block;
            width: 35px;
            height: 35px;
            margin-left: 5px;
        }
*/