﻿@page "/chat"
@inject IJSRuntime JS

@*<div class="container">
    <div class="row no-gutters" style="height: 100%">
        <div class="col-2 border-right">
            <div class="friend-drawer">
                <MatSelect Label="Status" @bind-Value="@UserStatus">
                    <MatOption TValue="int" Value="0">Aktywny</MatOption>
                    <MatOption TValue="int" Value="1">Zajęty</MatOption>
                    <MatOption TValue="int" Value="2">Nieaktywny</MatOption>
                </MatSelect>
            </div>
            @foreach (var user in UsersList)
            {
                var style = "";
                switch ((int)user.Status)
                {
                    case 0:
                        style = "background-color: green;";
                        break;
                    case 1:
                        style = "background-color: yellow;";
                        break;
                    case 2:
                        style = "background-color: red;";
                        break;
                }
                <div class="friend-drawer friend-drawer--onhover">
                    <div class="text">
                        <span class="dot" style="@style">
                            <h6>@user.Owner</h6>
                        </span>
                    </div>
                </div>
            }
        </div>
        <div class="col-10 align-self-end">
            <div class="chat-panel">
                @foreach (var message in Messages)
                {
                    if (@Username == @message.Owner)
                    {
                        <div class="row no-gutters">
                            <div class="col-md-3 offset-md-9">
                                <div class="chat-bubble chat-bubble--right">
                                    @message.Message
                                </div>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="row no-gutters">
                            <div class="col-md-3">
                                <div class="chat-bubble chat-bubble--left">
                                    @message.Message
                                </div>
                            </div>
                        </div>
                    }
                }
                <div class="row">
                    <div class="col-12">
                        <div class="chat-box-tray">
                            <i class="material-icons">sentiment_very_satisfied</i>
                            <input type="text" placeholder="Type your message here...">
                            <i class="material-icons">mic</i>
                            <i class="material-icons">send</i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>*@

@code
{
    bool Opened = false;

    void ButtonClicked()
    {
        Opened = !Opened;
    }

}

<MatDrawerContainer Style="width: 100%; height: 92vh;">
    <MatDrawer @bind-Opened="@Opened">
        <div class="container">
            <div class="row no-gutters" style="height: 100%">
                <div class="col-12 border-right">
                    <div class="friend-drawer">
                        <MatSelect Label="Status" @bind-Value="@UserStatus">
                            <MatOption TValue="int" Value="0">Aktywny</MatOption>
                            <MatOption TValue="int" Value="1">Zajęty</MatOption>
                            <MatOption TValue="int" Value="2">Nieaktywny</MatOption>
                        </MatSelect>
                    </div>
                    @foreach (var user in UsersList)
                    {
                        var style = "";
                        switch ((int)user.Status)
                        {
                            case 0:
                                style = "background-color: green;";
                                break;
                            case 1:
                                style = "background-color: yellow;";
                                break;
                            case 2:
                                style = "background-color: red;";
                                break;
                        }
                        <div class="friend-drawer friend-drawer--onhover">
                            <div class="text">
                                <span class="dot" style="@style">
                                    <h6>@user.Owner</h6>
                                </span>
                            </div>
                        </div>
                    }
                </div>
            </div>
            </div>
</MatDrawer>
    <MatDrawerContent>
        <div class="container">
            <div class="row no-gutters settings-tray" style="position: sticky; top: 0; z-index: 10;">
                <div class="friend-drawer no-gutters friend-drawer--grey">
                    <MatButton Icon="menu" OnClick="@((e) => ButtonClicked())"></MatButton>
                </div>
            </div>
            <div class="row no-gutters" style="overflow-y: scroll; ">               
                <div class="col-12">
                    <div class="chat-panel">
                        @if (Messages?.Count > 9)
                        {
                            <div class="row no-gutters">
                                <MatButton type="button" OnClick="@FetchMoreMessages" Label="Załaduj więcej"></MatButton>
                            </div>
                        }
                        @foreach (var message in Messages)
                        {
                            if (@Username == @message.Owner)
                            {
                                <div class="row no-gutters">
                                    <div class="col-md-3 offset-md-9">
                                        <div class="chat-bubble chat-bubble--right">
                                            @message.Message
                                        </div>
                                    </div>
                                </div>
                            }
                            else
                            {
                                <div class="row no-gutters">
                                    <div class="col-md-3">
                                        <div class="chat-bubble chat-bubble--left">
                                            @message.Message
                                        </div>
                                        <div class="messageOwner">
                                            @message.Owner
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                        <div id="chatBottom"></div>
                    </div>
                </div>
            </div>    
            <div class="row no-gutters" style="height: 4%"></div>
            <div class="col-12 chat-box-tray" style="position: fixed; bottom: 0; z-index: 10; height: 5%;">
                <input type="text" @onkeydown="@Enter" @bind="CurrentMessage" @bind:event="oninput" disabled="@IsSending" placeholder="Wprowadź tekst...">
                <MatButton Icon="send" OnClick="@SendMessage"></MatButton>
            </div>
        </div>
        
    </MatDrawerContent>
</MatDrawerContainer>
