﻿@layout EmptyLayout
@inject IJSRuntime JSRuntime 
@page "/"
    <AuthorizeView>        
        <NotAuthorized Context="Auth">
            <div>
                <div class="centerWrapper">
                    <div class="mat-elevation-z3 loginPaper">
                        <div>
                            <h3 style="margin-bottom: 1em;">
                                CalendarApp
                            </h3>
                        </div>                        
                        <div>
                            <EditForm Model="@User" OnValidSubmit="@HandleValidSubmit">
                                <div>
                                    <p>
                                        <MatTextField @bind-Value="@User.Login" @oninput="@OnCredentialsChange" Label="Login" Required="true" Disabled="@IsAuthenticating"></MatTextField>
                                    </p>
                                    <p>
                                        <MatTextField @bind-Value="@User.Password" @oninput="@OnCredentialsChange" Type="password" Label="Hasło" Required="true" Disabled="@IsAuthenticating"></MatTextField>
                                        <br />
                                        <MatButton Type="button" OnClick="@Reset">Resetowanie hasła</MatButton>
                                    </p>
                                    <p style="color: red;">
                                        @if (Message != null)
                                            @Message
                                    </p>
                                </div>                                                    
                                <div style="position:relative;">
                                    <div style="text-align: center;">
                                        <MatButton Type="submit" Raised="true" Disabled="@IsAuthenticating">Zaloguj</MatButton>
                                    </div>
                                
                                    @if (IsAuthenticating)
                                    {
                                        <MatProgressCircle Indeterminate="true" Size="MatProgressCircleSize.Medium" Style="position:absolute; top:0; right: 0;" />
                                    }
                                </div>
                            </EditForm>
                        </div>
                    </div>
                </div>
            </div>
        </NotAuthorized>
    </AuthorizeView>
            
