﻿@layout EmptyLayout
@page "/Logout"

<div class="centerWrapper">
    <img src="_content/Calendar.App/favicon.ico" style="text-align: center;" alt="logo" />
    <MatHeadline1 Style="color:green; margin-top: 0.5rem;">Wylogowano pomyślnie</MatHeadline1>
</div>


