﻿@layout EmptyLayout
@page "/reset"

<AuthorizeView>
    <NotAuthorized Context="Reset">
        @if (!Finished)
        {
            <div>
                <div class="centerWrapper">
                    <div class="mat-elevation-z3" style="padding: 1em;">
                        <div>
                            <h3 style="margin-bottom: 1em;">
                                CalendarApp
                            </h3>
                        </div>
                        <div>
                            <EditForm Model="@User" OnValidSubmit="@HandleValidSubmit">
                                <div>
                                    <p>
                                        <MatTextField @bind-Value="@User.Email" Label="Email" Disabled="@IsDisabled" Required="true"></MatTextField>
                                    </p>
                                    <p>
                                        <MatTextField @bind-Value="@User.Login" Label="Login" Disabled="@IsDisabled" Required="true"></MatTextField>
                                    </p>
                                    <p style="color: red;">
                                        @if (Message != null)
                                            @Message
                                    </p>
                                </div>

                                <div style="position:relative;">
                                    <div style="text-align: center;">
                                        <MatButton Type="button" OnClick="@ReturnToLogin" Raised="true" Disabled="@IsDisabled">Powrót</MatButton>
                                        <MatButton Type="submit" Raised="true" Disabled="@IsDisabled">Resetuj</MatButton>
                                    </div>

                                    @if (IsSending)
                                    {
                                        <MatProgressCircle Indeterminate="true" Size="MatProgressCircleSize.Medium" Style="position:absolute; top:0; right: 0;" />
                                    }
                                </div>
                            </EditForm>
                        </div>
                    </div>
                </div>
            </div>
        }
        else
        {
            <div class="centerWrapper">
                <div class="container">
                    <div class="row justify-content-center">
                        <img src="_content/Calendar.App/favicon.ico" width="50" style="text-align: center;" alt="logo" />
                        <p style="margin-bottom: 1em;">
                            Jeżeli podane dane są prawidłowe, na email został wysłany link z nowym hasłem.
                        </p><br />
                    </div>
                    <div class="row justify-content-center">
                        <MatButton Type="button" OnClick="@ReturnToLogin" Raised="true">Powrót</MatButton>
                    </div>
                </div>                                
            </div>
            
        }

    </NotAuthorized>
</AuthorizeView>
