﻿@page "/Users"
<AuthorizeView Roles="ROLE_CALENDAR_ADMIN">
    @if (IsFetching)
    {
        <div class="centerFixed">
            <MatProgressCircle Indeterminate="true" Size="MatProgressCircleSize.Large" />
        </div>
    }

    <div style="margin: 10px;">
        <MatFAB Icon="@MatIconNames.Add" Label="Dodaj" OnClick="@(_ => AddUser())"></MatFAB>

        @foreach (var user in Users)
        {
            <div class="mat-layout-grid mat-layout-grid-align-left" style="max-width:230px">
                <div class="mat-layout-grid-inner">
                    <div class="mat-layout-grid-cell mat-layout-grid-cell-span-6">
                        <p>@user.Login</p>
                    </div>
                    <div class="mat-layout-grid-cell mat-layout-grid-cell-span-2">
                        <MatIconButton Type="button" Icon="edit" OnClick="(_ => EditUser(user))"></MatIconButton>
                    </div>
                    <div class="mat-layout-grid-cell mat-layout-grid-cell-span-2">
                        <MatIconButton Type="button" Icon="vpn_key" OnClick="(_ => EditPassword(user))"></MatIconButton>
                    </div>
                    <div class="mat-layout-grid-cell mat-layout-grid-cell-span-2">
                        <MatIconButton Type="button" Icon="delete" OnClick="(_ => DeleteUser(user))"></MatIconButton>
                    </div>
                </div>
            </div>
            <MatDivider Padded="true"></MatDivider>
        }
    </div>

    <Calendar.App.Components.UserWizard @ref="UserDialog"></Calendar.App.Components.UserWizard>
    <Calendar.App.Components.PasswordWizard @ref="PasswordDialog"></Calendar.App.Components.PasswordWizard>
</AuthorizeView>