﻿.centerWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;  
    z-index: 10;
}

.centerAbsolute {
    display: block;
	position: absolute;
	top: 50%;
	left: 50%;
}

.centerFixed {
    display: block;
    position: fixed;
    top: 50%;
    left: 50%;
}


.verticalMiddleContainer {
    width: 100%;
    height: 100%;
    display: table;
}

.verticalMiddleItem
{
    display: table-cell;
    vertical-align: middle;
}

.fixedRightBottom {
    position: fixed !important;
    bottom: 1rem;
    right: 1rem;    
    z-index: 5;
}

p 
{
    margin-top: 1rem;
}

label
{
    margin-top: 0.5rem;
}



