﻿@inherits LayoutComponentBase

<MatThemeProvider Theme="@Theme">
    <AuthorizeView>
        <Authorized>
            <MatAppBarContainer>
                <MatAppBar Fixed="true">
                    <MatAppBarRow>
                        <MatAppBarSection>
                            <MatAppBarTitle></MatAppBarTitle>
                        </MatAppBarSection>
                        <MatAppBarSection Align="@MatAppBarSectionAlign.End">
                            <MatButtonLink Raised="true" href="/Calendar">Kalendarz</MatButtonLink>
                            <MatButtonLink Raised="true" href="/Chat">Komunikator</MatButtonLink>
                            <AuthorizeView Context="ButtonAuth" Roles="ROLE_CALENDAR_ADMIN">
                                <MatButtonLink Raised="true" href="/Users">Użytkownicy</MatButtonLink>
                            </AuthorizeView>
                            <MatButton Raised="true" OnClick="ChangePassword">Zmień hasło</MatButton>
                            <MatButtonLink Raised="true" href="/Logout">Wyloguj</MatButtonLink>
                        </MatAppBarSection>
                    </MatAppBarRow>
                </MatAppBar>

                <MatAppBarContent>
                    @Body
                    <Calendar.App.Components.PasswordWizard @ref="PasswordDialog"></Calendar.App.Components.PasswordWizard>
                </MatAppBarContent>
            </MatAppBarContainer>
        </Authorized>       
        <NotAuthorized>
            <div class="centerWrapper">
                <img src="_content/Calendar.App/favicon.ico" style="text-align: center;" alt="logo" />
                <MatHeadline1 Style="color:red; margin-top: 0.5rem;">Brak uprawnień</MatHeadline1>
            </div>            
        </NotAuthorized>
    </AuthorizeView>
    
</MatThemeProvider>    
