﻿@page "/"
@namespace Calendar.Server.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>Calendar.App</title>
    <link rel="manifest" href="_content/Calendar.App/manifest.json" />
    <base href="/" />
    <link rel="icon" href="_content/Calendar.App/favicon.ico">
    <link href="_content/Calendar.App/css/Bootstrap/Bootstrap.min.css" rel="stylesheet" />
    <link href="_content/Calendar.App/css/app.css" rel="stylesheet" />
    <link rel="stylesheet" href="_content/Calendar.App/css/Calendar/Calendar.min.css" />
    <script src="_content/MatBlazor/dist/matBlazor.js"></script>
    <link href="_content/MatBlazor/dist/matBlazor.css" rel="stylesheet" />
    <link href="_content/Calendar.App/css/defaultLoader.css" rel="stylesheet" />
    <link href="_content/Calendar.App/Calendar.App.bundle.scp.css" rel="stylesheet" />
</head>
<body>
    <app>
        <component type="typeof(App.App)" render-mode="Server" />
    </app>

    @*<div id="blazor-error-ui">
        <environment include="Staging,Production">

        </environment>
        <environment include="Development">
            An unhandled exception has occurred. See browser dev tools for details.
            <a href="" class="reload">Reload</a>
            <a class="dismiss">🗙</a>
        </environment>
    </div>*@

    <script src="_framework/blazor.server.js"></script>
    <script src="_content/Calendar.App/js/PushNotifications.js"></script>
    <script>
        if ('serviceWorker' in navigator) {
            navigator.serviceWorker.register('_content/Calendar.App/js/ServiceWorker.js');
        }        
    </script>
    <script type="text/javascript" src="_content/Calendar.App/js/Calendar/Calendar.js"></script>
    <script type="text/javascript" src="_content/Calendar.App/js/Calendar/CalendarInterop.js"></script>
    <script type="text/javascript" src="_content/Calendar.App/js/ChatInterop.js"></script>    
</body>
</html>
